@import url(//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css);

body {
    position: relative;
    padding-top: 50px;
    background-image:url("http://www.4shared.com/photo/ZnPKL2ed/descargar-matrix-screensaver.html");
}
h1 {
    color: Green;
}

img {
    max-width: 50%;
    height: 50%;
}

