@import url(//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css);

body {
    position: relative;
    padding-top: 50px;
    background-image:url("http://icyalaska.deviantart.com/art/Matrix-Screen-Saver-1-64191834");
}
h1 {
    color: Green;
}

img {
    max-width: 50%;
    height: 50%;
}

